:root {
  --border-color: #e0e2f3;
  --body-color: #5d5d7a;

  --primary: #323DA5;
  --secondary: #FF7F5C;
  --teal: #26B0A1;
  --cyan: #42D3D5;
  --purple: #8685EF;
  --pink: #FF90AA;
  --green: #3EB75E;
  --red: #FF585A;
  --blue: #4FA3FF;
  --yellow: #FFC400;

  --headline: #323232;
  --b1: #5D5D7A;
  --b2: #767695;
  --b3: #8B8C93;
  --darkborder: #A8ABBD;
  --borderandline: #e0e2f3;
  --background: #F5F8FC;
  --disable: #D3D3D3;
  --white: #FFFFFF;
  --black: #323232;
  --grey: #e0e2f3;
  --mid-grey: #72728C;
  --dark-grey: #5D6D81;

  --success: #3EB75E;
  --danger: #FF0003;
  --warning: #FF8F3C;
  --info: #1BA2DB;

  --primaryhover: #3A45AE;
  --primaryactive: #4F5AC3;

  --default-transition: all 0.25s ease-in-out;
}
  